    <header class="header">
      <div class="header__container container">
        <div class="header__logo">
          <a href="#" class="logo">
            <img
              class="logo__image"
              src="./images/logo/prosperix-logo-dark-min.svg"
              alt="Prosperix logo dark"
            />
          </a>
        </div>
        <div class="header__nav">
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
              <li class="nav__item">
                <a href="#" class="nav__link">Service</a>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link">Contact</a>
              </li>
              <li class="nav__item"><a href="#" class="nav__link">Help</a></li>
            </ul>
          </nav>
        </div>
        <div class="header__links">
          <a href="#" class="button-link button-link--green">Sign in</a>
          <a
            href="#"
            class="button-link button-link--small button-link--primary"
            >Get Started</a
          >
        </div>
      </div>
    </header>